<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div>
                    <cp-pagination [data]="70" [position]="" [size]="'is-small'" [rounded]="true"
                                   [hasSkipButtons]="true"></cp-pagination>
                </div>
                <div>
                    <cp-datepicker [maxDate]="maxDate" [minDate]="minDate"></cp-datepicker>
                </div>
            </div>
        </div>
    </div>
</section>

